<% content_for :body_class, 'reg' %>
<% content_for :title, 'Favorites' %>
<% content_for :active_class1, "active" %>

<% if @favorites.count == 0 %>
    <br><br>
    <br><br>
    <h5 class="no-favs center">You don't have any favorites yet!</h5>
<% else %>
  <% @favorites.each do |favorite| %>
  <div class="row suggestion">
    <div class="col s2">
      <%= image_tag (favorite.suggestion.user.profile_picture), :class => "circle responsive-image sugg-user" %>
      <br>
      <% if (favorite.suggestion.favorites == 0) || (!favorite.suggestion.favorites.map { |e| e.user_id }.include? current_user.id) %>
        <%= link_to favorite_suggestion_path(suggestion_id: favorite.suggestion.id, from_favorites: true), method: :post do %>
          <span class="star"><i class="material-icons left">grade</i></span>
        <% end %>
      <% else %>
        <%= link_to unfavorite_suggestion_path(suggestion_id: favorite.suggestion.id, from_favorites: true), method: :post do %>
          <span class="star-favorited"><i class="material-icons left">grade</i></span>
        <% end %>
      <% end %>
      <br>
      <br>
    </div>
    <div "col s8">
      <p class="suggestionInfo">
        <strong><%= favorite.suggestion.user.name + "." %></strong> went to <strong><%= favorite.suggestion.location %></strong> and had 
        <% if favorite.suggestion.experience_type == "positive" %>
          a <strong><span class="positive"> <%= favorite.suggestion.experience_type %></span></strong>
        <% elsif favorite.suggestion.experience_type == "okay" %>
          an <strong><span class="okay"> <%= favorite.suggestion.experience_type %></span></strong>
        <% elsif favorite.suggestion.experience_type == "negative" %>
          a <strong><span class="negative"> <%= favorite.suggestion.experience_type %></span></strong>
        <% end %>
        <br><br>
        <span class="description">
          <%= favorite.suggestion.description %>
        </span>
        </div>
          <%= image_tag (favorite.suggestion.photo_url), :class => "responsive-image sugg-photo" %>
        </div>
      </p>        
    </div>
    <div class="col s2"></div>
    <hr>
  </div>
  <% end %>
<% end %>