<% content_for :body_class, 'reg' %>
<% content_for :title, @user.name %>
<% content_for :topleft, "Back" %>
<% content_for :leftlink, "/index/" %>
<% content_for :active_class3, "active" %>


<div class="row">
	<div class="col s12 profile-box">
		<p><span class="profile-name"><strong><%= @user.name %></strong></span> <br>
		<%= image_tag (@user.profile_picture), :class => "circle responsive-image profile-pic" %><br>
		<strong><%= @suggestions.count %> suggestions </strong> <br>
		<% if @user.id == session[:user_id] %>
			<strong><%= 'You have ' + @user.count_friends.to_s + ' friends'%></strong>
		<% elsif !Friend.are_friends(session[:user_id], @user.id) %>
			<strong><%= button_to 'Add Friend', friend_user_path(user_id_2: @user.id), class: 'waves-effect waves-light btn fave'%></strong>
		<% else %>
			<strong><%= 'You and ' + @user.name + ' are friends' %></strong>
			<strong><%= button_to 'Unfriend', unfriend_user_path(user_id_2: @user.id), class: 'waves-effect waves-light btn fave'%></strong>
		<% end %>
		</p>
	</div>
</div>

<% @suggestions.each do |suggestion| %>
<div class="row suggestion">
	<div class="col s2">
		<%= image_tag (@user.profile_picture), :class => "circle responsive-image sugg-user" %>
		<br>
		<% if (suggestion.favorites == 0) || (!suggestion.favorites.map { |e| e.user_id }.include? current_user.id) %>
			<%= link_to favorite_suggestion_path(suggestion_id: suggestion.id, user_profile_id: @user.id), method: :post do %>
				<span class="star"><i class="material-icons left">grade</i></span>
			<% end %>
		<% else %>
			<%= link_to unfavorite_suggestion_path(suggestion_id: suggestion.id, user_profile_id: @user.id), method: :post do %>
				<span class="star-favorited"><i class="material-icons left">grade</i></span>
			<% end %>
		<% end %>
		<br>
		<br>
	</div>
	<div "col s8">
		<p class="suggestionInfo">
			<strong><%= @user.name %></strong> went to <strong><%= suggestion.location %></strong> and had 
			<% if suggestion.experience_type == "positive" %>
				a <strong><span class="positive"> <%= suggestion.experience_type %></span></strong>
			<% elsif suggestion.experience_type == "okay" %>
				an <strong><span class="okay"> <%= suggestion.experience_type %></span></strong>
			<% elsif suggestion.experience_type == "negative" %>
				a <strong><span class="negative"> <%= suggestion.experience_type %></span></strong>
			<% end %>
			experience. 
			<br><br>
			<span class="description">
				<%= suggestion.description %>
			</span>
			</div>
				<%= image_tag (suggestion.photo_url), :class => "responsive-image sugg-photo materialboxed" %>
			</div>
		</p>				
	</div>
	<div class="col s2"></div>
	<hr>
</div>
<% end %>