<% content_for :body_class, 'reg' %>
<% content_for :title, "Suggestion Feed" %>

<!-- Page Content goes here -->
<% @suggestions.each do |suggestion| %>
<div class="row suggestion">
	<div class="col s2">
		<%= image_tag (suggestion.user.profile_picture), :class => "circle responsive-image sugg-user" %>
		<br>
		<span class="star"><i class="material-icons left">grade</i></span>
		<br>
		<br>
	</div>
	<div "col s10">
		<p class="suggestionInfo">
			<strong><%= suggestion.user.first_name + " " + suggestion.user.last_name[0] + "." %></strong> went to <strong><%= suggestion.location %></strong> and had 
			<% if suggestion.experience_type == "positive" %>
				a <strong><span class="positive"> <%= suggestion.experience_type %></span></strong>
			<% elsif suggestion.experience_type == "okay" %>
				an <strong><span class="okay"> <%= suggestion.experience_type %></span></strong>
			<% elsif suggestion.experience_type == "negative" %>
				a <strong><span class="negative"> <%= suggestion.experience_type %></span></strong>
			<% end %>
			experience. 
			<br><br>
			<span class="description">
				<%= suggestion.description %>
			</span>
			</div class="sugg-photo-div">
				<%= image_tag (suggestion.photo_url), :class => "responsive-image sugg-photo" %>
			</div>
		</p>				
	</div>
	<hr>
</div>
<% end %>



