<h1>tel</h1>

<body>
	<nav class="bottom_nav">
		<a class="nav-item" href="#">
			<%= image_tag 'newsGray.png', class: "icon" %>
			<span class="item-label">Suggestion Feed</span>
		</a>
		<a class="nav-item" href="#">
			<%= image_tag 'starGray.png', class: "icon" %>
			<span class="item-label">Favorites</span>
		</a>
		<a class="nav-item_tel" href="#">
			<%= image_tag 'post.png', class: "icon" %>
			<span class="item-label">tel a Friend</span>
		</a>
		<a class="nav-item" href="#">
			<%= image_tag 'bellGray.png', class: "icon" %>
			<span class="item-label">Notification</span>
		</a>
		<a class="nav-item" href="#">
			<%= image_tag 'profileGray.png', class: "icon" %>
			<span class="item-label">Profile</span>
		</a>
	</nav>
</body>