<% content_for :body_class, 'login' %>

<div class="container homeContainer">
	<!-- Page Content goes here -->
	<br>
	<br>
	<br>
	<div class="col s3"></div>

 	<div class="col s6 login">
 		<%= image_tag("logo.png", :class => "responsive-img logo")%>
		<br><br>
		<%= image_tag("motto.png", :class => "responsive-img")%>

		<br><br><br><br>
		<% if current_user %>
			Welcome <strong><%= current_user.name %></strong>!
    		<%= link_to "Sign out", signout_path, :class => "waves-effect waves-light btn fbauth" %>
		<% else %>
			<%= link_to "Sign in with Facebook", "/auth/facebook", :class => "waves-effect waves-light btn fbauth" %>
		<% end %>
  	</div>

  	<div class="col s3"></div>
</div>

