<!DOCTYPE html>
<html>
<head>
  <title>Tel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<%= render 'partials/header' unless @disable_header %>
<body class="<%= content_for :body_class %>">


<%= yield %>

</body>
<%= render 'partials/nav' unless @disable_nav %>
</html>
