<!DOCTYPE html>
<html>
<head>
  <title>Tel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//code.jquery.com/ui/1.11.4/jquery-ui.js', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<%= render 'partials/header' unless @disable_header %>
<body class="<%= content_for :body_class %>">

	<%= yield %>

</body>
<%= render 'partials/nav' unless @disable_nav %>
</html>
